body {

	background: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;


	color: #ffffff;
	text-align: center;

}

div {

	border: 2px solid white;
	width: 150px;
	margin: auto; 
	margin-bottom: 28em;

}

.container {

	width: 98%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	z-index: 10;
	border: 3px solid white;

	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0.8em;
	margin-top: 0.8em;
	padding-top: 0;

}

h1 {

	font-family: "Cardo", Garamond, serif;

	font-size: 5.5em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -0.5px;

	margin-top: -34px;

}

h2 {

	font-family: "Cardo", Garamond, serif;

	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 1.5px;
	text-transform: uppercase;

}

p {

	font-family: "Crimson Text", Times, serif;

	font-size: 14px;
	font-weight: normal;

}

p.article {
	position: relative;
	top: -4.8em;

	margin-bottom: 2em;
}

p.info {

	position: relative;
	bottom: 1em;

}

br {
	line-height: 120%;
}