body {

	background: url("Assets/background.jpg");
	background-size: cover;
	background-attachment: fixed;

	color: #ffffff;
	text-align: center;

}

.border {

	width: 98%;
	height: 100vh;
/*	min-height: 100%;
	height: auto !important;
	height: 100%;
*/	z-index: 10;
	border: 3px solid white;

	margin: 0.8em auto;
	padding-top: 0;
}


.button {

	border: 2px solid white;
	width: 150px;
	margin: 0 auto 0 auto;
	
	position: relative;
	top: 20vh;

}


h1 {

	font-family: "Cardo", Garamond, serif;

	font-size: 5.5em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: -0.5px;

	margin-top: -30px;

}

h2 {

	font-family: "Cardo", Garamond, serif;

	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 1.5px;
	text-transform: uppercase;

}

p {

	font-family: "Crimson Text", Times, serif;

	font-size: 14px;
	font-weight: normal;
	line-height: 90%;

}

#article {
	position: relative;
	top: -5em;

	line-height: 105%;

}

footer {

	position: relative;
	bottom: -50vh;

}